*,
body,
html {
    font-family: 'Muli', sans-serif;
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0, auto;
    padding: 50px;

}

.cont {
    width: 100%;

    /* border: 1px solid #000; */

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

table,
th,
td {
    /* border: 1px solid black; */
    border-collapse: collapse;
}

th,
/* td, button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */
.butMySize {
    padding: 0;
    ;
}

th,
td {
    padding: 15px 35px 15px 35px;
    vertical-align: middle;
    text-align: center;
}

table {
    border-spacing: 5px;
    width: 100%;
}

.table_caption {
    font-weight: bold;
    border-top: 2px solid darkgrey;
    border-bottom: 2px solid darkgrey;
}

.tabl,
.form {
    padding: 20px;
}

.tabl {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* .table {} */

.form {
    font-family: 'Muli', sans-serif;
    width: 50%;
    /* border: 1px solid rgb(161, 31, 31); */
}

#addUserBtn {
    border: 1px solid green;
    background-color: white;
    color: green;


}


#addUserBtn:hover {
    border: 1px solid green;
    background-color: greenyellow;
    font-weight: bold;

}

#editUserBtn {
    display: none;
    border: 1px solid green;
    background-color: white;
    color: green;

}

#editUserBtn:hover {
    border: 1px solid green;
    background-color: greenyellow;
    font-weight: bold;

}